<!doctype html>
<title>BQaaS</title>
<body>
  <h1><img src="static/img/genius_mini.jpg"> Brilliant Quote as a Service</h1>
  <ul>
    {% for q in quotes %}
    <li><strong>{{ q[2] }}</strong> -- {{ q[1] }} (id: {{ q[0] }})</li>
    {% endfor %}
  </ul>
</body>